<%-include("parts/top.ejs")%>

<br>
<br>
<br>
<br>

<div class="container">
    <div class=" row justify-content-center">
    <form method="post" action="/addBook" enctype="multipart/form-data">
        <!-- Name input -->
        <div class="form-outline ">
          <input type="text" id="form4Example1" class="form-control"  name="title"/>
          <label class="form-label" for="form4Example1">Title</label>
        </div>
      
        <!-- Email input -->
        <div class="form-outline ">
          <input type="text" id="form4Example2" name="Author" class="form-control" />
          <label class="form-label" for="form4Example2">Author</label>
        </div>
      
        <!-- Message input -->
        <div class="form-outline ">
          <textarea class="form-control" id="form4Example3" rows="4" name="description"></textarea>
          <label class="form-label" for="form4Example3">Description</label>
        </div>
        <div class="form-outline ">
            <input type="number" id="form4Example2" name="price" class="form-control" />
            <label class="form-label" for="form4Example2">Price</label>
          </div>
          <div class="form-outline ">
            <input type="file" id="form4Example2" name="image" class="form-control" />
            <label class="form-label" for="form4Example2">Image</label>
          </div>
      
        <!-- Checkbox -->
       
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">save</button>

        <div>
          <% if (succedMsg) { %>
            <div class="alert alert-success" role="alert">
              <%= succedMsg %>
            </div>
          <% } %>
          <% if (failedMsg) { %>
            <div class="alert alert-danger" role="alert">
              <%= failedMsg %>
            </div>
          <% } %>
        </div>
      </form>
     
    </div>
</div>
<%-include("parts/footer.ejs")%>